body{

    background-image: url(/media/signup.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.regform{

    color: white;
    max-width: 450px;
    min-width: 250px;
    margin: auto;
    padding: 10px 20px 30px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, .3);
}

h3{
    
    text-align: center;
    color: #83C5BE;
}

.regform .txtlabel{

    display: block;
}

.input input{

    width: 100%;
    font-size: 1.2em;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: 5px 0px 15px;
}

input:focus{

    background-color: whitesmoke;
}

.btn{

    text-align: center;
    
}

button{

    color: white;
    background-color: #83C5BE;
    font-size: 30px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 12px 20px;
    box-shadow: 2px;
}

.rdo input{

    accent-color: #83C5BE;
    transform: scale(1.3);
}